{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="container-fluid p-0 bg-primary flex-grow-1  d-flex flex-column">
        <div class="flex-grow-1 row w-100 m-0 justify-content-center align-items-center" style="background-image: url({{ asset('images/homeImage.jpg') }}); background-size: cover;
                background-position: center;">
            <div class="col-12 col-md-9" style="background-color: rgba(0,0,0,0.6); ">
                <h1 class="text-warning font-weight-bold my-3">Trouver les statistiques des joueurs de NBA et comparer les</h1>
                <div class="row mx-2 pt-4">
                    <div class="input-group mb-3">
                        <input id="player-name" type="text" class="player-name form-control form-control-lg bg-transparent text-light border-light" placeholder="Nom du joueur" aria-label="Recipient's username" aria-describedby="submit-addon">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button">Rechercher</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
